build/bin/
nodelogs/
traces/
/data/
*config.toml
*/private.key
.vscode/
.idea*
*.env
*.sh
**/testdata/
*.cov
reports/nipopow/
hierarchy-*-report.json
nipopow-*-report.json
chain-visualizer/node_modules*

# Binary executables
/go-quai